* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --black: #000;
  --primary: #0d6efd;
  --muted: #ddd8d8;
  --bg-big: #e7f0fb;
  --gray: rgb(206, 194, 194);
}

/* body {
  font-family: Inter, sans-serif !important;
} */
.img-bg {
  width: 100%;
  height: 90vh;
  background-image: url("1c7374919fa419ec2abcb24a9fc1024787f16aaa.jpg");
  background-size: cover;

  position: relative;
}
.text-gray {
  color: var(--gray);
}

.bg-white {
  background-color: var(--white);
}
.text-white {
  color: var(--white);
}
.m {
  margin-left: 50px;
  padding-left: 50px;
}
.bg-gray {
  background: #ffffff2e;
}
.show {
  font-family: Dm Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.show1 {
  width: 14;
  height: 14;
  opacity: 1;
  top: 1.22px;
  left: 122.36px;
}
.w-40 {
  width: 130px;
  height: 150px;
  overflow: hidden;
}
.bg-off {
  background: #f9fbfc;
}
.bg-wh {
  background-color: #e9f2ff;
}
.bg-bn {
  background-color: #ddadc3;
}
.bg-dark {
  background-color: #050b20;
}
.form {
  width: 400px;
  height: 71.75px;
  top: 65px;
  left: 1118px;
  border-radius: 60px;
}
.arraw {
  width: 40;
  height: 40;

  opacity: 1;
  top: 7801.89px;
  left: 1860px;
  border-radius: 20px;
}
.bg-primary {
  background-color: var(--primary);
}
.text-primary {
  color: var(--primary);
}
